<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  

 

 
 
  <title> Athlex </title>
</head>
<body>
  <nav>
     <a href="/" style="font-size:2rem; color:inherit;">
    <i class="bi bi-house"></i>
  </a>
    <div>
        <a href="/workouts">ALL WORKOUTS</a>
        <% if (user) { %>
        <a href="/workouts/new">ADD WORKOUTS</a>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span>
        <img
         src="https://api.dicebear.com/9.x/bottts/svg?seed=<%= encodeURIComponent(user.name) %>"
         alt="avatar"
         style="height:2rem; width:2rem; border-radius:50%; vertical-align:middle; margin-right:0.5em;" />
         <%= user.name %>
        </span>
         <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  </body>
  <main>
  
 