<%- include('../partials/header.ejs') %>



<h1 class="add-workout-title">Add A New Workout</h1>


<form action="/workouts" method="POST">
    <label for="name" class="workout-label">Workout Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="date" class="date-label">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="reps" class="reps-label">Reps:</label>
    <input type="number" name="exercises[][reps]" required>

    <label for="weight" class="weight-label">Weight:</label>
    <input type="number" name="exercises[][weight][value]" required>
    <select name="exercises[][weight][unit]">
      <option value="lbs">lbs</option>
      <option value="kg">kg</option>
    </select>

    <button type="submit" id="add-workout">Add Workout</button>
    <br><br>
    <button type="submit">Save Workout</button>
</form>
 

<%- include('../partials/footer.ejs') %>