<%- include('./partials/header.ejs') %>


 <img src="/images/athlex.jpg" alt="Athlex Logo" style="height:300px; width:300px;">
<p class="about-me">
  Welcome to Athlex! I'm Ashley, a fitness enthusiast passionate about helping others 
  track and improve their workouts. This app lets you log, edit, and review your workouts 
  to stay motivated and reach your goals. Built with secure authentication and intuitive design,
  Athlex is your go-to fitness companion. Let’s redefine your fitness journey—one rep, one step, 
  and one success at a time.

</p>

<a href="/auth/sign-up" class="btn">Sign Up</a>

<%- include('./partials/footer.ejs') %>